<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>800</integer>
		<key>height</key>
		<integer>560</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>deep_sk_0.png</key>
		<dict>
			<key>x</key>
			<integer>640</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>80</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>85</integer>
			<key>originalHeight</key>
			<integer>-121</integer>
		</dict>
		<key>deep_sk_1.png</key>
		<dict>
			<key>x</key>
			<integer>720</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>80</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>85</integer>
			<key>originalHeight</key>
			<integer>-121</integer>
		</dict>
		<key>deep_sk_2.png</key>
		<dict>
			<key>x</key>
			<integer>640</integer>
			<key>y</key>
			<integer>80</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>80</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>85</integer>
			<key>originalHeight</key>
			<integer>-121</integer>
		</dict>
		<key>deep_sk_3.png</key>
		<dict>
			<key>x</key>
			<integer>720</integer>
			<key>y</key>
			<integer>80</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>80</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>85</integer>
			<key>originalHeight</key>
			<integer>-121</integer>
		</dict>
	</dict>
</dict>
</plist>
